<!-- If you want to add something to the MAIN CONTENT area of the dashboard - add it here -->

<h2>nterchange Demo</h2>

<ol>
  <li><strong>Content - </strong>Click the 'Content' tab and create a text asset. We'll use this later.</li>
  <li><strong>Surf-to-edit - </strong> Add, remove and re-order content on the <a href="/nterchange/page/surftoedit/6" target="_blank">about page</a>.</li>
  <li><strong>Page Content - </strong>Add the text asset from step one to the sidebar and main content area. Edit the text to see changes happen to all instances.</li>
  <li><strong>Custom assets - </strong><a href="/nterchange/page/surftoedit/6" target="_blank">Edit a bio</a>, add an image (80x80) and change the description.</li>
  <li><strong>Dynamic Asset Lists - </strong><a href="/nterchange/news_item/viewlist" target="_blank">Manage the news items.</a> Create an item for today and see it pulled onto the <a href="/_page1">Home</a> and <a href="/_page7">news</a> pages.</li>
  <li><strong>Pages</strong>
    <ul>
      <li><a href="/nterchange/page/children/1" target="_blank">Create a new page</a> that is <strong>Visible</strong> and <strong>Active</strong>, and see it show up in the navigation.</li>
      <li>View page tree in the <a href="/nterchange/site_admin" target="_blank">Site Admin</a> tab.</li>
    </ul>
  </li>
  <li><strong>Versions - </strong>View an <a href="/nterchange/text/edit/1?page_content_id=5&_referer=%2Fnterchange%2Fpage%2Fcontent%2F1">asset with many previous versions</a>.</li>
  <li><strong>Timed Content.</strong> <a href="/nterchange/page/surftoedit/8" target="_blank">Surf-to-edit the Contact page</a>, and set the "Timed Start" of the first piece of content.</li>
  <li><strong>Custom asset behaviour - </strong> Set the release date for a <a href="/nterchange/news_item/edit/3" target="_blank">news item</a> one minute in the future. View the list on the <a href="/_page7" target="_blank">news page</a> or <a href="/_page1">Home page</a>.</li>
  <li><a href="/nterchange/audit_trail/viewlist" target="_blank"><strong>Audit trail</strong></a></li>
  <li><a href="/nterchange/users/viewlist"><strong>Users</strong></a></li>
</ol>
