@import 'variables';

body, html {
  font-family: @base-font;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.375em;
  margin: 0;
  color: #6D6E72;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @heading-font;
}

strong {
  font-weight: 600;
}

label {
  display: block;
}
