.page-title {
  a {
    color: #999;
    text-decoration: none;
    letter-spacing: -0.03em;
  }
}

.navbar { .container; }

nav[role="navigation"] {
  ul {
    list-style: none;
    padding: 2px;
    background-color: #e7e7e7;
    overflow: hidden;

    ul {
      display: none;
    }
  }

  li {
    display: block;
    float: left;
  }

  a {
    display: block;
    color: #999;
    text-decoration: none;
    background-color: white;
    padding: 4px 8px;
    border: 1px solid #dedede;
    margin-right: -1px;
  }
}
