a {
  color: darken(@nf-orange, 15%);
}

.header-wrapper, .footer-wrapper {
  padding: 15px 0;
  background-color: @nf-orange;
  color: white;
}

.header-wrapper {
  margin-bottom: 30px;
  padding-bottom: 0;
}

.footer-wrapper {
  margin-top: 30px;
}

.main-content {
  border-left: 1px solid #eaeaea;
}

.sidebar h3 {
  color: #5c5c5c;
  background-color: #ececec;
  padding: 8px;
  margin: 0;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.news-item {
  background-color: #f2f2f2;
  border-bottom: 1px dotted #d2d2d2;
  padding: 5px;

  h4 {
    font-weight: 600;
    margin: 0 0 5px;
    padding: 5px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  p {
    margin: 0 0 5px;
  }
}

.page {
  min-height: 400px;
}
