.main-content {
  border-left: 1px solid #eaeaea;
}

.sidebar h3 {
  color: #EEE;
  background-color: #999;
  padding: 8px;
  margin: 0;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
