{no_xhr}
{include file="page/head.html" template="default"}
<div class="header-wrapper">
  <div class="navbar">
    {include file="page/navigation.html" view="default"}
  </div>
</div>
{/no_xhr}

<div id="page-{$filename}" class="page">
  <div class="container">
    <div class="banner">
      {$BANNER_EDIT_START}{$BANNER}
    </div>
    <div class="row">
      <div class="sidebar">
        <h3>{$title}</h3>
        {$SIDEBAR_EDIT_START}{$SIDEBAR}
      </div>
      <div class="main-content">
        {if $smarty.const.IN_SURFTOEDIT}{if $external_url}<h3>This page is redirected to <a href="{$external_url}">this page</a></h3>{/if}{/if}
        {$MAIN_CONTENT_EDIT_START}
        {$MAIN_CONTENT}
      </div>
    </div>
  </div>
</div>

{no_xhr}
<div class="footer-wrapper">
  {include file="page/footer.html"}
</div>
{include file="page/tail.html"}
{/no_xhr}
